h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  font-weight: bold;
}

h4 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  font-size: 1em;
  font-weight: bold;
  text-transform: capitalize;
}

ul {
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 1em;
}

mat-divider {
  margin-top: 1em;
  margin-bottom: 1em;
}

.change-category {
  padding-left: 10px;
}
